
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-dark: #1d2231;
  --text-gray: #8390a2;
  --body-bg: #f1f5f9;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.sidebar {
  background-image: url(gradient_background_a_3_18.jpg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
body {
  background-color:  var(--body-bg);
  font-family: 'Roboto', sans-serif;
}

#sidebar-toggle {
    display: none;
  }
  
  .sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--main-color);
    color: #ffffff;
    overflow-y: auto;
    transition: width 500ms;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0rem 1rem;
  }
  
  .sidebar-menu {
    padding: 1rem;
  }

  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }
  

  img {
    vertical-align: middle;
    margin-right: 10px;
    
  }
  
 

  

  .sidebar-menu img{
   border-radius: 50%;
   width: 40px;
   height: 40px;
   -webkit-border-radius: 30%;
   -moz-border-radius: 30%;
   -ms-border-radius: 30%;
   -o-border-radius: 30%;
}
  


 
.sidebar-menu .logout{
  margin-top: 320px;
}

.sidebar-menu .radios{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


  
  .sidebar li {
    margin-bottom: 2.2rem;
  }
  
  .sidebar a {
    color: #ffffff;
    font-size: 1.2rem;
    
  }
  
  
  
  #sidebar-toggle:checked ~ .sidebar {
    width: 5%;
  }
  
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
  }
  
  #sidebar-toggle:checked ~ .sidebar .sidebar-header,
  #sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
  }

  
  #sidebar-toggle:checked ~  .main-content {
    margin-left: 5%;
  }
  
  #sidebar-toggle:checked ~ .main-content header {
    left: 70px;
    width: calc(100% - 60px);
  }
  .main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
  }
  

  .main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 240px;
    z-index: 100;
    width: calc(100% - 240px);
    background-color: #ffffff;
    height: 80px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    transition: 500ms;
   
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
  }
  
  .search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
  }
  

  



main {
    margin-top: 60px;
    background-color: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
  }
  
  .dash-title {
    color: grey;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }


  .hello{
    
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
  }



  .hello .card-body1 .welcome{
    width: 500px;

  }

  .hello .card-body1 .welcome h1{
    margin-bottom: 60px;
    color: rgb(0, 123, 255);

  }

  .hello .card-body1 .welcome h5{
   line-height: 30px;
   color: #8390a2;

  }

  .hello .card-body1 .card1 img{
    margin-left: 30px;
    width: 530px;
    height: 390px;

  }

  .card-body1 {
    padding: 1.3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
  }
  
  .dash-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    margin-left:-60px ;
  }
  .card-footer {
    padding: 0.5rem 0.7rem ;
    background: #1090f9;
    width: 130px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition-duration: 0.5s;
    text-align: center;

}

.card-footer:hover{
  background-color: rgb(241, 103, 186);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
  
  .card-footer a {
    color: white;
   
  }
  
  .card-single {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 1.3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 180px;
    align-items: center;
  }

  .dash-cards .card-single .card-body span img{
    width: 130px;
    height: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  .card-body span {
    font-size: 2.9rem;
    color: #777;
    padding-right: 1.4rem;
  }
  
  .card-body h5 {
    color: var(--text-gray);
    font-size: 1.4rem;
  }
  
  .card-body h4 {
    color: var(--color-dark);
    font-size: 1.8rem;
    margin-top: 0.7rem;
  }
  





  .card-body1 {
    padding: 1.3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
  }
  
  .dash-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
  }
  
  .card-single {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 1.3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 170px;
    align-items: center;
  }

  .dash-cards .card-single .card-body span img{
    width: 140px;
    height: 140px;
    margin-top: 60px;
   
}
  
  .card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
  }
  
  .card-body h5 {
    color: #000000;
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
  }
  
  .card-body h4 {
    color: rgb(237, 72, 26);
    font-size: 1.7rem;
    margin-top: 0.7rem;
  }
  


.title h2{
   text-align: center;
   margin-bottom: 80px;
   margin-top: 70px;
   color: #68707b;
}

  @media only screen and (max-width: 1200px) {
    .sidebar {
      width: 60px;
    }
  
    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
      display: none;
    }
  
    .sidebar .sidebar-header,
   .sidebar li {
      display: flex;
      justify-content: center;
    }
  
    .main-content {
      margin-left: 60px;
    }
  
    .main-content header {
      left: 60px;
    }
  
  }
  

/********* Start profile  */
/********* Start profile  */
  
  
.content-2 .web .profile-page .overview .photo-et-nom {
  text-align: center;
  width: 150px;
  margin-left: -90px;
 
}


@media (max-width : 767px) {
.profile-page .overview {
    flex-direction: column;
}
.profile-page label{
    margin: 5px auto;
}
}
@media (min-width : 768px) {

.profile-page .overview .photo-et-nom{
    border-right: 1px solid #EEE;
}

}


@media (max-width:767px) {
.other-profile{
    flex-direction: column;
}
}



.content-2 .web h1{
  text-align: center;
  color: #68707b;
}
.content-2 .web .profile-page{
    padding: 40px;
    border: 1px solid black;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.content-2 .web .profile-page .overview{
    display: grid;
    grid-template-columns: repeat(6,3fr);
    padding: 40px;
    align-items: center;

  }

.content-2 .web .profile-page .overview .photo-et-nom {
  text-align: center;
  
}
.content-2 .web .profile-page .overview .photo-et-nom h3{
  margin: 0;
  margin-top: 30px;
  text-transform: uppercase;
  color: #000000;

}


.content-2 .web .profile-page .overview .rad-half{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}





.profile-page .info-text .box h4{
  width: 100%;
  max-width: 100%;
  margin: 0px;
  color: rgb(16, 17, 19);
  font-size: 25px;
}

.profile-page .info-text .box .text{
  font-size: 14px;
  padding-top: 10px;
}

.profile-page .info-text .box .text span{
  color: rgb(62, 62, 63);
  font-size: 20px;
 
  
  
}
  
.profile-page .overview .photo-et-nom{
  width: 200px;
  height: 200px;
  
}

@media (max-width : 767px) {
  .profile-page .overview {
      flex-direction: column;
  }
  .profile-page label{
      margin: 5px auto;
  }
}
@media (min-width : 768px) {

  .profile-page .overview .photo-et-nom{
      border-right: 1px solid #EEE;
  }

}

.profile-page .info-text .box{
  border-bottom: 1px solid #EEE;
}
.profile-page .info-text .box{
    width:200px;
    padding: 30px;
    margin-left: 90px;
  }


.profile-page .info-text .box .text{
  width: 280px;
}

@media (max-width:767px) {
  .other-profile{
      flex-direction: column;
  }
}